* {
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  align-items: center;
}
.container {
  display: grid;
  grid-template-columns: 1fr .5fr;
  width: 100%;

  padding: 10px;

}
h1 {
  font-size: 1.5rem;
}
p {
  font-size: 1.2rem;
}
table {
  margin: 2px;
  text-align: center;
}
